/* variaveis */
:root {
  --color-green: #5CA720;
  --color-black: #161616;
  --color-gray1: #A5A1A1;
  --color-gray2: #F9F9F9;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

/* Globals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x:hidden;
}

body {
  font-family: 'Lato',sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  margin: 8px 0;
  background-color: var(--color-gray1);
  width: 100vw;
  height: 0.2px;
}

/* Header */

header {
  display: flex;
  flex: 1;
}

nav {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 32px;
  border-bottom: 1px solid var(--color-green);
}

nav .logo img{
  cursor: pointer;
}

nav .logo img:hover {
  filter: drop-shadow(8px 8px 8px  var(--color-green));
}

nav .navbar ul {
  display: flex;
}

nav .navbar ul li{
  list-style: none;
  margin-left: 32px;
  cursor: pointer;
}

/* banner */
.banner img {
  width: 100%;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 12px 0;
}

section.title h1 {
  text-transform: uppercase;
  font-size: 20px;  
}

section.title p {
  text-transform: lowercase;
  font-size: 18px;  

}

.cards {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  justify-content: flex-start;
  gap: 16px;
}

.card {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.card img {
  width: 300px;
  border-radius: 5px;
}

.card p {
  margin-top: 16px;
}

.card img + p {
  font-weight: 500;  
}

.card p + p {
  font-weight: 700;
}

.card p > span {
  color: green;
}


